/* Global reset and defaults */
* {
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #202430; /* Main background to match logo */
  color: white;
}

/* Root container */
#root {
  width: 100%;
}

/* Global link style */
a {
  text-decoration: none;
  color: inherit;
}
